@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #171717;
  --myblue: #2563eb;
}

@layer components {
  .form-container {
    @apply bg-white w-full max-w-md rounded-xl shadow p-6 overflow-hidden;
  }

  .tab-button {
    @apply text-sm font-semibold pb-2 transition-all;
  }
  .tab-active {
    @apply text-blue-600 border-b-2 border-blue-600;
  }
  .tab-inactive {
    @apply text-gray-400;
  }

  .input-box {
    @apply mt-1 w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500;
  }
  .error-text {
    @apply text-red-500 text-sm;
  }
  .primary-button {
    @apply w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 transition;
  }
  .divider {
    @apply flex items-center gap-2 my-4;
  }
  .google-button {
    @apply w-full flex items-center justify-center gap-3 border border-gray-300 py-2 rounded-md hover:bg-gray-100 transition;
  }
  .disclaimer {
    @apply text-xs text-gray-500 mt-6;
  }
  .link {
    @apply text-blue-600 hover:underline;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
